{% block body %}
    <h2>Inscription</h2>

    <form method="post">
        <label>Nom :</label>
        <input type="text" name="nom" required><br>
    
        <label>Prénom :</label>
        <input type="text" name="prenom" required><br>
    
        <label>Email :</label>
        <input type="email" name="email" required><br>
    
        <label>Mot de passe :</label>
        <input type="password" name="password" required><br>
    
        <label>Rôle :</label>
        <select name="role" required>
            <option value="ROLE_ETUDIANT">Étudiant</option>
            <option value="ROLE_ENSEIGNANT">Enseignant</option>
        </select><br>
    
        <button type="submit">S'inscrire</button>
    </form>
    
    {% endblock %}
